@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html {
    box-sizing: border-box;   
    background-color: #FAFDD6;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", sans-serif;
    background-color: #FAFDD6;
}

a {
    color: inherit;
    text-decoration: none;
}