* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-darkblue: #647fbc;
  --collor-lightblue: #adbbdb;
  --color-yellow: #fafdd6;
  --color-text: #595959;
  --color-text-light: #3c3c3c;
}