:root {
  --color-darkblue: #647fbc;
  --collor-lightblue: #adbbdb;
  --color-yellow: #fafdd6;
  --color-text: #595959;
  --color-text-light: #3c3c3c;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  color: #666666; */
}
/* #nav {
  background-color: var(--color-darkblue);
} */
.nav-container {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: var(--color-darkblue);
  box-shadow: 0px 30px 30px rgba(255, 255, 255, 0.6);
}
.nav-container-input {
  max-width: 250px;
  width: 100%;
  height: 45px;
  margin-left: 20px;
  padding: 0px 20px;
  border-radius: 30px;
  background-color: var(--color-yellow);
  color: var(--color-text);
  line-height: 49px;
  font-size: 16px;
}
.nav-container-ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-ul-li {
  max-width: 250px;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 3px solid var(--color-yellow);
}
.nav-ul-li:hover {
  background-color: var(--color-yellow);
  opacity: 0.8;
  transform: translate(0, 5px);
  transition: all 800ms;
  cursor: pointer;
}
.nav-li-a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.nav-ul-li:hover .nav-li-a {
  color: var(--color-text);
}
