.nav-container {
  /* position: fixed; */
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--color-darkblue);
  box-shadow: 0px 30px 30px rgba(255, 255, 255, 0.6);
  /* transform: translateX(0) translateY(-95%);
  transition: all 800ms ease-in-out; */
}
/* .nav-container:hover {
  transform: translateX(0) translateY(0);
} */
.nav-container-input {
  max-width: 250px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 0px 20px;
  border-radius: 30px;
  background-color: var(--color-yellow);
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}
.nav-container-ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-ul-li {
  max-width: 250px;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 3px solid var(--color-yellow);
  overflow: hidden;
}
.nav-ul-li:hover {
  background-color: var(--color-yellow);
  transform: translate(0, 5px);
  transition: all 800ms;
  cursor: pointer;
}
.nav-li-a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #ffffff00;
  cursor: pointer;
}
.nav-ul-li:hover .nav-li-a {
  color: var(--color-text);
}
